name: Android CI - Build APK

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Make gradlew and wrapper executable
      run: |
        chmod +x gradlew
        chmod +x gradle/wrapper/gradle-wrapper.jar

    - name: Build Debug APK
      run: ./gradlew assembleDebug

    - name: Upload APK as artifact
      uses: actions/upload-artifact@v4
      with:
        name: ElectricShutterApp-debug-apk
        path: app/build/outputs/apk/debug/app-debug.apk
