name: Android CI - Build APK

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'

    # ✅ فقط gradlew executable شود
    - name: Make gradlew executable
      run: chmod +x gradlew

    # ✅ ساخت APK نسخه Debug
    - name: Build Debug APK
      run: ./gradlew assembleDebug

    # ✅ آپلود APK به عنوان artifact با نسخه جدید
    - name: Upload APK as artifact
      uses: actions/upload-artifact@v4
      with:
        name: ElectricShutterApp-debug-apk
        path: app/build/outputs/apk/debug/app-debug.apk
